html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	justify-content: center;
	border-collapse: collapse;
	r-spacing: 0;
}
body{
	background-color: navy;
}

a, p, label{
	color:white;
    font-weight: bold;
}
tr {
	padding: 0;
	margin: 0;
}
button{
	height: 2.4em;
	width: 100%;
	color: white;
	background-color: darkslategray;
	font-weight: bold;
}
button:hover{
	background-color: #2f4f4fc4;
	color:#ffffffb0;
}

.container{
    margin: auto;
    height: 50em;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*
	width: 200px;
	padding: 1000em, 200px, 200px, 1000em;
	*/
}

.container label, a{
	padding: 0.4em;
}



.container input{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2.3em;
	font-size: 1em;
	border-width: 0;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: darkslategray;
}
.container input::placeholder{
	color:#308c058f;
}
.container input:-ms-input-placeholder {
	color:#308c058f;
}

.container input::-ms-input-placeholder{
	color:#308c058f;
}